@import "tailwindcss";

:root {
  --bg-primary: #00212b;
  --bg-secondary: #062e3b;
  --surface: #0b3c4b;
  --border: #1a4d5c;

  --text-main: #e6f1f4;
  --text-muted: #a1b4bc;
  --heading-color: #9ED3E0;

  --accent-blue: #00b7ff;
  --accent-green: #16db65;
  --accent-red: #ef476f;
  --accent-yellow: #ffd166;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}
